html body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

.main {
  flex: 1 0 auto;
}

.header, .footer {
  flex: 0 0 auto;
}

.main {
  width: 100%;
  max-width: 70%;
  color: $font-color;
  font-weight: normal;
  padding: 2rem;
  margin: 0 auto;
  background-color: $background-color-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  // margin-top: 20px;
  // margin-bottom: 20px;
}

a {
  color: $link-color;
}
