.header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: $header-main;
  border: 2px solid $header-main-border;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  .logo a img {
    height: 80px;
    margin-right: 15px;
  }

  .title a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.nav a {
  font-size: 1.5rem;
  color: $font-alternative-color;
  font-weight: 500;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
