@media (max-width: 700px) {
  .header {
    display: block;

    .site-header {
      flex-direction: column;
    }
  }
}

@media (max-width: 700px) {
  .mspan {
    grid-column: span 3;
  }
}

@media (max-width: 700px) {
  .technology {
    .menu {
      display: none;
    }

    .article {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .gallerypage h1 {
    grid-column: span 1;
  }
}