@media (max-width: 700px) {
    .header {
        display: block;
        .site-header {
            flex-direction: column;
        }
    }
}
@media (max-width: 700px) {
    .mSpan {
        grid-column: span 3;
    }
}
