.landingpage {
  display: grid;
  gap: 1.96rem 1.96rem;
  margin-bottom: 1.96rem;
  width: 50%;
}

.landingpage h1 {
  grid-column: span 3;
  justify-self: center;
}

.landingpage a {
  color: $link-color;
}

.box {
  border: 1px solid #ccc;
  padding: 1.96rem;
}

.box:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}
.mainT {
  width: 100%;
  max-width: 70%;
  color: $font-color;
  font-weight: normal;
  padding: 2rem;
  margin: 0 auto;
  background-color: white;
  min-height: 600px;
  // margin-top: 20px;
  // margin-bottom: 20px;
}
.technology {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.technology .article {
  width: 60%;
}

.technology .menu {
  width: 30%;
}

.css {
  grid-column: span 1;
}

.html {
  grid-column: span 2;
}

.javascript {
  grid-column: span 2;
}

.php {
  grid-column: span 1;
}

.python {
  grid-column: span 3;
}

.git {
  grid-column: span 1;
}

.sqlite {
  grid-column: span 2;
}
