$font-color: #e6e6e6;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: rgb(60, 60, 63);
$background-color-main: rgb(43, 43, 45);
$background-alternative-color: #e0fbfc;
$header-main: #1c2620;
$header-main-border: #275f53;
$footer: rgb(34, 34, 34);
$code-font-color: #e6e6e6;
$code-back-color: #212121;
$code-border: #212121;
$link-color: rgb(1, 203, 1);
