$font-color: #333;
$font-alternative-color: #ffffff;
$accent-color: #ee6c4d;
$background-color: rgb(233, 233, 233);
$background-color-main: white;
$background-alternative-color: #e0fbfc;
$header-main: #0d0d0d;
$header-main-border: #19191a;
$footer: #333;
$code-font-color: #333;
$code-back-color: #f5f5f5;
$code-border: #ccc;
$link-color: rgb(52, 52, 255);
