{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <h1 id="hometitle">Design Kmom01-06</h1>
    <div class="imgContainer">
        <img class="heroImg" src="image/CZB.jpeg" alt="background">
        <div class="gradient"></div>
        <div class="gradientT"></div>
    </div>
    <div class="main" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
