{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <h1 class="hometitle">Design Kmom01-06</h1>
    <div class="imgcontainer">
        <img class="heroimg" src="image/CZB.jpeg?w=1500" alt="background">
        <div class="gradient"></div>
        <div class="gradienttwo"></div>
    </div>
    <div class="main" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
